<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" type="text/css" href="/styles/normalize.css">
        <link rel="stylesheet" type="text/css" href="/styles/discussion.css">

        <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
        <title>Discussion</title>
    </head>

    <body>
        <div class="header">
            <div class="wrapper">
                <div class="user-info">
                    <%= userFullName %>
                    <div class="course-name">
                        <%= courseName %>
                    </div>
                </div>
                <div class="back-button">
                    <a href="/classroom/<%= courseID %>">Back</a>
                </div>
            </div>
        </div>
        <div class="discussion-wrapper">
            <div class="discussion-card">
                <div class="discussion-title">
                    <%= title %>
                </div>
                <div class="discussion-header">
                    <img class="avatar" src="../icons/user_male.png">
                    <span class="discussion-author"> <%= createdBy %> </span>
                    <span class="discussion-timestamp"> <%= formattedDate %> </span>
                </div>
                <div class="discussion-content">
                    <%= body %>
                </div>
                <div class="edit-button">
                    <a href="/discussion/edit/<%= discussionID %>">Edit</a>
                </div>
            </div>
            <div class="comment-textbox-card">
                <form action="/comment/post" method="POST">
                    <textarea class="comment-textbox" name="body"></textarea>
                    <div class="comment-bottom-row">
                        <input class="small-btn" type="submit" value="Post Comment">
                    </div>
                </form>
            </div>
            <div class="comment-section">
                <% for(let i = 0; i < comments.length; i++) {%>
                <div class="comment-card">
                    <div class="comment-header">
                        <img class="avatar" src="../icons/user_male.png">
                        <span class="comment-author"><%= comments[i].created_by %></span>
                        <span class="comment-timestamp"><%= comments[i].created_on %></span>
                    </div>
                    <div class="comment-content">
                        <%= comments[i].body %>
                    </div>
                    <div class="comment-bottom-row">
                        <form action="/comment/delete" method="POST">
                            <input type="hidden" name="commentID" value="<%= comments[i].commentID %>">
                            <input class="small-btn" type="submit" value="Delete">
                        </form>
                        <a class="small-btn" href="#">Edit</a>
                    </div>
                </div>
                <%} %>
            </div>
        </div>
    </body>

</html>